<template>

    <Head title="Categorias" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Categorias</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <TableGeneral title="Categoría" text="categoria" :genere="1" />
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>


</template>

<script>
    import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
    import TableGeneral from "@/Pages/Componentes/TableGeneral.vue";
    import {
        Head
    } from "@inertiajs/inertia-vue3";

    export default {
        components: {
            BreezeAuthenticatedLayout,
            TableGeneral,
            Head,
        },
    };

</script>