<template>

    <Head title="Detalles" />

    <DashboardLayout>
    </DashboardLayout>

    <div class="container mx-auto" v-if="!spining">
         <!-- <h2 class="my-4 text-center text-4xl font-bold" >{{post.title}}</h2> -->

        <div class=" rounded overflow-hidden border w-full my-4 lg:w-6/12 md:w-6/12 bg-white mx-auto">
            <div class="w-full flex justify-between p-3">
                <div class="flex">
                    <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden">
                        <img src="https://avatars0.githubusercontent.com/u/38799309?v=4" alt="profilepic">
                    </div>
                    <span class="pt-1 ml-2 font-bold text-sm" v-text="post.author"></span>
                </div>
                <span class="px-2 hover:bg-gray-300 cursor-pointer rounded"><i
                        class="fas fa-ellipsis-h pt-2 text-lg"></i></span>
            </div>
            <img class="w-full bg-cover"
                :src="(post.imagen)? path+post.imagen : 'https://cdn.tailgrids.com/1.0/assets/images/blogs/blog-01/image-01.jpg'">
            <div class="px-3 pb-2">
                <div class="pt-2 mb-5">
                    <i class="far fa-heart cursor-pointer"></i>
                    <span class="text-sm text-gray-400 font-medium" v-text="getFormatDate(post.created_at)"></span>
                </div>
                <div class="pt-1 mb-5">
                    <div class="mb-2 text-2xl font-bold" v-text="post.title">
                        
                    </div>
                </div>
                <div class="text-sm mb-2 text-gray-400 cursor-pointer font-medium mb-5" v-text="post.category"></div>
                <div class="mb-2">
                    <div class="mb-2 text-lg indent-8 normal-case">
                        {{post.resume}}
                    </div>
                </div>
                <div class="mb-2">
                    <div class="mb-2 text-lg indent-8 normal-case" >
                        {{post.body}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- paginacion -->
    <div class="w-full flex justify-center items-center h-10 my-10  container mx-auto" v-if="!spining">
        <nav>
            <ul class="inline-flex -space-x-px">
                <li class="mx-4">
                    <a href="#" v-if="post.previous != null"
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        @click.prevent="getPage(post.previous)">
                        <span>
                            <span aria-hidden="true">
                                Publicación Anterior
                            </span>
                        </span>
                    </a>
                </li>
                <li class="mx-4">
                    <a href="#" v-if="post.next != null"
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        @click.prevent="getPage(post.next)">
                        <span>
                            <span aria-hidden="true">
                                Siguiente publicación
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- loading -->
    <div class="w-full mb-5 flex justify-center items-center h-10" v-else>
        <svg class="animate-spin stroke-[4px] ml-1 mr-3 h-5 w-5 text-green" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
            </circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
    </div>

</template>

<script>
    import axios from 'axios'
    import Swal from 'sweetalert2';
    import DashboardLayout from "@/Layouts/Dashboard.vue";
    import moment from 'moment'
    import {
        Head,
        Link
    } from "@inertiajs/inertia-vue3";


    export default {
        components: {
            DashboardLayout,
            Head,
            Link,
        },
        data: function () {
            return {
                post: {},
                spining: true,
                path: window.path+'/'
            }
        },
        mounted() {
            this.getPost()
        },
        methods: {
            /**
             * Le da formato a la fecha
             */
            getFormatDate(date){
                let fecha = moment(date)
                return fecha.format('MMM Do YY')
            },
            /**
             * Obtiene el post que quiere ver
             */
            getPost() {
                let page = route().params.id
                axios.get(route('adminPost.show', page)).then((response) => {
                    this.post = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                    this.spining = false
                })
            },
            /**
             * Permite obtener los anteriores lista de post
             */
            getPage(page) {
                window.location.href = route('detail', page)
                // this.spining = true
                // axios.get(route('adminPost.show', page)).then((response) => {
                //     this.post = response.data
                //     this.spining = false
                // }).catch((error) => {
                //     Swal.fire({
                //         title: 'Oops!',
                //         text: error.response.data.message,
                //         icon: 'error'
                //     })
                //     this.spining = false
                // })
            },
        }
    };

</script>
