<template>

    <Head title="Dashboard" />

    <DashboardLayout>
        <section class="text-gray-600 body-font">
            <div
                class="px-5 py-24 mx-auto flex flex-wrap items-center h-96 justify-center bg-no-repeat bg-cover bg-[url('https://cdn.pixabay.com/photo/2017/08/19/19/43/nature-2659682_1280.jpg')]">
                <div class="lg:w-3/5 lg:pr-0 pr-0">
                    <div class="flex flex-wrap justify-center -mx-4">
                        <div class="w-full px-4">
                            <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px] text-white">
                                <span class="font-semibold text-lg text-primary mb-2 block">
                                    Nuestro Blog
                                </span>
                                <h2 class=" font-bold text-3xl sm:text-4xl md:text-[40px] text-dark mb-4">
                                    Noticias Recientes
                                </h2>
                                <p class="text-base text-body-color">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi nesciunt neque
                                    itaque labore iste non porro optio dolorum corrupti ex blanditiis, velit dolor
                                    dignissimos? Illum quo ipsam earum natus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </DashboardLayout>

    <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20" v-if="!spining">
        <div class="container mx-auto">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 lg:w-1/3 px-4" v-for="item in posts.data" v-bind:key="item.id">
                    <Link :href="route('detail', item.id)">
                    <div class="max-w-[370px] mx-auto mb-10">
                        <div class="rounded overflow-hidden mb-8">
                            <img :src="(item.imagen)? path+item.imagen : 'https://cdn.tailgrids.com/1.0/assets/images/blogs/blog-01/image-01.jpg'"
                                alt="image" class="w-full" />
                        </div>
                        <div>
                            <span
                                class="bg-gray-800 text-white rounded inline-block text-center py-1 px-4 text-xs mb-4 leading-loose font-semibold text-whitemb-5">
                                {{getFormatDate(item.created_at)}}
                            </span>
                            <h3>
                                <a href="javascript:void(0)"
                                    class="font-semibold text-xl sm:text-2xl lg:text-xl xl:text-2xl mb-4 inline-block text-dark hover:text-primary">
                                    {{item.title}}
                                </a>
                            </h3>
                            <p class="text-base text-gray-400 mb-4">
                                {{item.resume}}
                            </p>
                            <span
                                class="text-gray-800 rounded inline-block text-center py-1 text-md mb-4 leading-loose font-semibold text-whitemb-5">
                                Leer mas...
                            </span>
                        </div>
                    </div>
                    </Link>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Blog Section End -->
    <!-- paginacion -->
    <div class="w-full flex justify-center items-center h-10 mb-10  container mx-auto" v-if="!spining">
        <nav>
            <ul class="inline-flex -space-x-px">
                <li v-show="posts['prev_page_url']">
                    <a href="#"
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        @click.prevent="getPreviousPage">
                        <span>
                            <span aria-hidden="true">
                                Anterior
                            </span>
                        </span>
                    </a>
                </li>
                <li v-for="n in posts['last_page']" v-bind:key="n">
                    <a href="#" :class="{ 'dark:bg-gray-700': (posts['current_page'] === n) }"
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        @click.prevent="getPage(n)">
                        <span>
                            {{ n }}
                        </span>
                    </a>
                </li>
                <li v-show="posts['next_page_url']">
                    <a href="#"
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        @click.prevent="getNextPage">
                        <span>
                            <span aria-hidden="true">
                                Siguiente
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- loading -->
    <div class="w-full mb-5 flex justify-center items-center h-10" v-else>
        <svg class="animate-spin stroke-[4px] ml-1 mr-3 h-5 w-5 text-green" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
            </circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
    </div>

</template>

<script>
    import DashboardLayout from "@/Layouts/Dashboard.vue";
    import {
        Head,
        Link
    } from "@inertiajs/inertia-vue3";
    import Swal from 'sweetalert2';
    import axios from 'axios'
    import moment from 'moment'

    export default {
        components: {
            DashboardLayout,
            Head,
            Link,
        },
        props: {
            canLogin: Boolean,
        },
        data: function () {
            return {
                posts: {},
                spining: true,
                path: window.path+'/'
            }
        },
        mounted() {
            this.getPost()
        },
        methods: {
            /**
             * Le da formato a la fecha
             */
            getFormatDate(date) {
                let fecha = moment(date)
                return fecha.format('MMM Do YY')
            },
            /**
             * Permite obtener los posts
             */
            getPost() {
                axios.get(route('post.all')).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite obtener los anteriores lista de post
             */
            getPage(page) {
                this.spining = true
                axios.get(route('post.all') + '?page=' + page).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                    this.spining = false
                })
            },
            /**
             * Permite obtener las posts de una lista en especifico
             */
            getPreviousPage() {
                this.spining = true
                axios.get(this.posts['prev_page_url']).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                    this.spining = false
                })
            },
            /**
             * Permite obtener los siguientes posts
             */
            getNextPage() {
                this.spining = true
                axios.get(this.posts['next_page_url']).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
        }
    };

</script>
