<template>

    <Head title="Metrica" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Metrica</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <!-- Metricas -->
                        <div class="grid md:grid-cols-2 grid-cols-1 gap-4 text-center" v-if="!spining">
                            <div>
                                <h2>Populares</h2>
                                <VueApexCharts width="500" type="bar" :options="Publicacion.options"
                                    :series="Publicacion.series"></VueApexCharts>
                            </div>
                            <div>
                                <h2>Plataformas mas usadas</h2>
                                <VueApexCharts width="500" type="donut" :options="Plataforma.options"
                                    :series="Plataforma.series"></VueApexCharts>
                            </div>
                            <div>
                                <h2>Navegadores mas usados</h2>
                                <VueApexCharts width="500" type="pie" :options="Navegador.options"
                                    :series="Navegador.series"></VueApexCharts>
                            </div>
                            <div>
                                <h2>Dispositivos frecuentes</h2>
                                <VueApexCharts width="500" type="bar" :options="Dispositivo.options"
                                    :series="Dispositivo.series"></VueApexCharts>
                            </div>
                            <!-- <div>01</div> -->
                        </div>
                        <!-- loading -->
                        <div class="w-full mb-5 flex justify-center items-center h-10" v-else>
                            <svg class="animate-spin stroke-[4px] ml-1 mr-3 h-5 w-5 text-green"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                    stroke-width="4">
                                </circle>
                                <path class="opacity-75" fill="currentColor"
                                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>


</template>

<script>
    import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
    import VueApexCharts from 'vue3-apexcharts'
    import axios from 'axios'
    import Swal from 'sweetalert2'
    import {
        Head
    } from "@inertiajs/inertia-vue3";

    export default {
        components: {
            BreezeAuthenticatedLayout,
            Head,
            VueApexCharts
        },
        data: function () {
            return {
                spining: false,
                Publicacion: {
                    options: {
                        chart: {
                            id: 'post-most-see'
                        },
                        xaxis: {
                            categories: [],
                            labels: {
                                formatter: function (val) {
                                    return 'PostID ' + val
                                }
                            }
                        },
                    },
                    series: [{
                        name: 'Más popular',
                        data: []
                    }]
                },
                Navegador: {
                    options: {
                        labels: []
                    },
                    series: [],

                },
                Plataforma: {
                    options: {
                        labels: [],
                    },
                    series: []
                },
                Dispositivo: {
                    options: {
                        chart: {
                            id: 'diviced-most-used'
                        },
                        xaxis: {
                            categories: [],
                        },
                        plotOptions: {
                            bar: {
                                horizontal: true,
                            },
                        },
                    },
                    series: [{
                        name: 'Dispositivos',
                        data: []
                    }]
                }
            }
        },
        mounted() {
            this.updateChart();
        },
        methods: {
            updateChart() {
                this.getPublicacions()
                this.getDiviced()
                this.getPlataform()
                this.getNavegador()
            },
            /**
             * Permite obtener las publicaciones mas vista
             */
            getPublicacions() {
                axios.get(route('publicaciones.metrica')).then((response) => {
                    for (let i = 0; i < response.data.post.length; i++) {
                        const element = response.data.post[i];
                        this.Publicacion.options.xaxis.categories[i] = element
                    }
                    this.Publicacion.series[0].data = response.data.total
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite obtener los navagadores mas usados
             */
            getNavegador() {
                axios.get(route('navegador.metrica')).then((response) => {
                    for (let i = 0; i < response.data.browsers.length; i++) {
                        const element = response.data.browsers[i];
                        this.Navegador.options.labels[i] = element
                    }
                    this.Navegador.series = response.data.total
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite obtener las plataformas mas usadas
             */
            getPlataform() {
                axios.get(route('plataforma.metrica')).then((response) => {
                    for (let i = 0; i < response.data.plataform.length; i++) {
                        const element = response.data.plataform[i];
                        this.Plataforma.options.labels[i] = element
                    }
                    this.Plataforma.series = response.data.total
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite que dispositivos mas usados
             */
            getDiviced() {
                axios.get(route('dispositivos.metrica')).then((response) => {
                    for (let i = 0; i < response.data.divices.length; i++) {
                        const element = response.data.divices[i];
                        this.Dispositivo.options.xaxis.categories[i] = element
                    }
                    this.Dispositivo.series[0].data = response.data.total
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            }
        }
    };

</script>
