<template>
    <div class="grid grid-cols-12 gap-4 mb-5">
        <div>
            <button @click="modalCreate()"
                class="p-2 bg-cyan-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex">
                <span class="mr-2">Agregar</span>
                <span>{{title}}</span>
            </button>
        </div>
    </div>
    <table class="w-full bg-white border text-sm shadow-sm table" v-if="!spining">
        <!-- tabla -->
        <thead class="bg-slate-50 dark:bg-slate-700">
            <tr class="text-center">
                <th class="w-1/2 border font-semibold p-4 text-slate-200 text-left">ID</th>
                <th class="w-1/2 border font-semibold p-4 text-slate-200 text-left">Nombre</th>
                <th class="w-1/2 border font-semibold p-4 text-slate-200 text-left">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" v-for="(ojb, index) in items.data" v-bind:key="ojb.id">
                <td class="border p-4 text-slate-400" v-text="ojb.id"></td>
                <td class="border p-4 text-slate-400" v-text="ojb.name"></td>
                <td class="border p-4 text-slate-400 ">
                    <button type="button" @click="modalEdit(true, index)"
                        class="p-2 bg-blue-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex mx-2 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>

                        <!-- <span class="ml-2">Editar</span> -->
                    </button>
                    <button type="button" @click.prevent="deleteItem(ojb.id)"
                        class="p-2 bg-red-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>

                        <!-- <span class="ml-2">Eliminar</span> -->
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- loading -->
        <div class="w-full mb-5 flex justify-center items-center h-10" v-else>
            <svg class="animate-spin stroke-[4px] ml-1 mr-3 h-5 w-5 text-green" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                </circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
        </div>
    <!-- paginacion -->
        <div class="w-full flex justify-end items-center mb-10 h-10 mt-5" v-if="!spining">
            <nav>
                <ul class="inline-flex -space-x-px">
                    <li v-show="items['prev_page_url']">
                        <a href="#"
                            class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            @click.prevent="getPreviousPage">
                            <span>
                                <span aria-hidden="true">
                                    Anterior
                                </span>
                            </span>
                        </a>
                    </li>
                    <li v-for="n in items['last_page']"
                        v-bind:key="n">
                        <a href="#" :class="{ 'dark:bg-gray-700': (items['current_page'] === n) }"
                            class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            @click.prevent="getPage(n)">
                            <span>
                                {{ n }}
                            </span>
                        </a>
                    </li>
                    <li v-show="items['next_page_url']">
                        <a href="#"
                            class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            @click.prevent="getNextPage">
                            <span>
                                <span aria-hidden="true">
                                    Siguiente
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    <!-- Editar Publicaciones -->
    <Modal ref="modal">
        <form action="" method="POST" class="w-full" @submit.prevent="(edit)? updateItem(): createItem()">
            <div class="">
                <div class='mb-5'>
                    <div class="">
                        <label for="names" class="text-md text-gray-600">Nombre</label>
                    </div>
                    <div class="">
                        <input type="text" autocomplete="off" v-model="item.name"
                            class="h-3 p-6 w-full border-2 border-gray-300 rounded-md" placeholder="Example. John Doe">
                        <p class="text-red-400" v-if="errors['name']">
                            <span v-for="item in errors['name']" v-bind:key="item" v-text="item"></span>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center item-center">
                    <button type="submit"
                        class="p-2 bg-green-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex mx-2">
                        Guardar

                        <!-- <span class="ml-2">Eliminar</span> -->
                    </button>
                </div>
            </div>
        </form>
    </Modal>
</template>

<script>
    import axios from 'axios';
    import Swal from 'sweetalert2';
    import Modal from '@/Pages/Componentes/Modal.vue';

    export default {
        components: {
            Modal
        },
        props:{
            'title': {
                type: String,
                default: ''
            },
            'text': {
                type: String,
                default: ''
            },
            'genere': {
                type: Number,
                default: 0
            }
        },
        data: function () {
            return {
                items: [],
                item: {},
                errors: [],
                edit: false,
                spining: true,
                routes: {
                    'autores': ['author', 'adminAuthor'],
                    'categoria': ['category', 'adminCategory'],
                },
                generes:{
                    the: ((this.genere == 1)? 'La ' : 'El '),
                    new: ((this.genere == 1)? 'Nueva ' : 'Nuevo '),
                    update: ((this.genere == 1)? ' Actualizada ' : ' Actualizado '),
                    be: ((this.genere == 1)? 'esta ' : 'este ')
                }
            }
        },
        mounted() {
            this.getItems()
        },
        methods: {
            /**
             * Permite obtener la informacion de lo que se pasa por parametro
             */
            getItems() {
                axios.get(route(this.routes[this.text][0]+'.all')).then((response) => {
                    this.items = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite obtener las anteriore informacion de lo que se pasa por parametro
             */
            getPage(page) {
                this.spining = true
                axios.get(route(this.routes[this.text][0]+'.all') + '?page=' + page).then((response) => {
                    this.items = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                    this.spining = false
                })
            },
            /**
             * Permite obtener las informacion de lo que pasa por parametro de una lista en especifico
             */
            getPreviousPage() {
                this.spining = true
                axios.get(this.items['prev_page_url']).then((response) => {
                    this.items = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                    this.spining = false
                })
            },
            /**
             * Permite obtener la siguiente informacion de lo que pasa por informacion
             */
            getNextPage() {
                this.spining = true
                axios.get(this.items['next_page_url']).then((response) => {
                    this.items = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite mostrar la modal para crear lo que se pasa por parametro
             */
            modalCreate() {
                this.item = {
                    _token: window.token,
                    name: '',
                }
                this.edit = false
                this.$refs.modal.showModal(true, 'Crear '+this.text)
            },
            /**
             * Permite crear un nuevo autor o una nueva categoria
             */
            createItem() {
                this.spining = true
                axios.post(route(this.routes[this.text][1]+'.store'), this.item).then((response) => {
                    this.items = response.data
                    Swal.fire({
                        title: this.generes.new+this.title,
                        text: this.generes.the+this.text+' ha sido creado con exito',
                        icon: 'success'
                    })
                    this.$refs.modal.showModal(false, '')
                    this.spining = false
                }).catch((error) => {
                   
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }else {
                        Swal.fire({
                            title: 'Oops!',
                            text: error.response.data.message,
                            icon: 'error'
                        })
                        }
                    this.spining = false
                })
            },
            /**
             * Permite mostrar la modal para modificar la informacion que se pasa por parametro
             */
            modalEdit(show, index) {
                this.item = this.items.data[index]
                this.edit = true
                this.$refs.modal.showModal(show, 'Editar '+this.text)
            },
            /**
             * Permite que la informacion por parametro se actualize se actualize
             */
            updateItem() {
                this.spining = true
                this.item._token = window.token
                axios.put(route(this.routes[this.text][1]+'.update', this.item.id), this.item).then((response) => {
                    this.items = response.data
                    Swal.fire({
                        title: this.generes.update+this.title,
                        text: this.generes.the+this.text+' N° ' + this.item.id + ' Fue Actualizado',
                        icon: 'success'
                    })
                    this.$refs.modal.showModal(false, '')
                    this.spining = false
                }).catch((error) => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    } else {
                        Swal.fire({
                            title: 'Oops!',
                            text: error.response.data.message,
                            icon: 'error'
                        })
                    }
                    this.spining = false
                })
            },

            /**
             * Permite borrar un la informacion que se pasa por parametro
             */
            deleteItem(id) {
                Swal.fire({
                    title: 'Quieres borrar '+this.generes.be+this.text+'?',
                    text: "Esto no se puede Revertir",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Borrar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.spining = true
                        axios.delete(route(this.routes[this.text][1]+'.destroy', id)).then((response) => {
                            this.items = response.data
                            Swal.fire(
                                'Borrar!',
                                this.generes.the+this.text+' ha sido borrado exitoramente',
                                'success'
                            )
                            this.spining = false
                        }).catch((error) => {
                            Swal.fire({
                                title: 'Oops!',
                                text: error.response.data.message,
                                icon: 'error'
                            })
                            this.spining = false
                        })
                    }
                })

            }
        }
    }

</script>
