<template>
    <div class="grid grid-cols-12 gap-4 mb-5">
        <div>
            <button @click="modalCreate()"
                class="p-2 bg-cyan-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex">
                <span class="mr-2">Agregar</span>
                <span>Publicación</span>
            </button>
        </div>
    </div>
    <table class="w-full bg-white border text-sm shadow-sm table" v-if="!spining">
        <!-- tabla -->
        <thead class="bg-slate-50 dark:bg-slate-700">
            <tr class="text-center">
                <th class="w-1/4 border font-semibold p-4 text-slate-200 text-left">ID</th>
                <th class="w-1/4 border font-semibold p-4 text-slate-200 text-left">Título</th>
                <th class="w-1/2 border font-semibold p-4 text-slate-200 text-left">Resumen</th>
                <!-- <th class="w-1/2 border font-semibold p-4 text-slate-200 text-left">Post</th> -->
                <th class="w-1/4 border font-semibold p-4 text-slate-200 text-left">Categoría</th>
                <th class="w-1/3 border font-semibold p-4 text-slate-200 text-left">Autor</th>
                <th class="w-1/3 border font-semibold p-4 text-slate-200 text-left">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" v-for="(item, index) in posts.data" v-bind:key="item.id">
                <td class="border p-4 text-slate-400" v-text="item.id"></td>
                <td class="border p-4 text-slate-400" v-text="item.title"></td>
                <td class="border p-4 text-slate-400 indent-8" v-text="item.resume"></td>
                <!-- <td class="border p-4 text-slate-400 indent-8" v-text="item.body"></td> -->
                <td class="border p-4 text-slate-400" v-text="item.get_categories.name"></td>
                <td class="border p-4 text-slate-400" v-text="item.get_authors.name"></td>
                <td class="border p-4 text-slate-400 ">
                    <button type="button" @click="modalEdit(true, index)"
                        class="p-2 bg-blue-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex mx-2 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>

                        <!-- <span class="ml-2">Editar</span> -->
                    </button>
                    <button type="button" @click.prevent="deletePost(item.id)"
                        class="p-2 bg-red-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>

                        <!-- <span class="ml-2">Eliminar</span> -->
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- loading -->
        <div class="w-full mb-5 flex justify-center items-center h-10" v-else>
            <svg class="animate-spin stroke-[4px] ml-1 mr-3 h-5 w-5 text-green" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                </circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
        </div>
    <!-- paginacion -->
        <div class="w-full flex justify-end items-center mb-10 h-10 mt-5" v-if="!spining">
            <nav>
                <ul class="inline-flex -space-x-px">
                    <li v-show="posts['prev_page_url']">
                        <a href="#"
                            class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            @click.prevent="getPreviousPage">
                            <span>
                                <span aria-hidden="true">
                                    Anterior
                                </span>
                            </span>
                        </a>
                    </li>
                    <li v-for="n in posts['last_page']"
                        v-bind:key="n">
                        <a href="#" :class="{ 'dark:bg-gray-700': (posts['current_page'] === n) }"
                            class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            @click.prevent="getPage(n)">
                            <span>
                                {{ n }}
                            </span>
                        </a>
                    </li>
                    <li v-show="posts['next_page_url']">
                        <a href="#"
                            class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            @click.prevent="getNextPage">
                            <span>
                                <span aria-hidden="true">
                                    Siquiente
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    <!-- Editar Publicaciones -->
    <Modal ref="modal">
        <form action="" method="POST" class="w-full" @submit.prevent="(edit)? updatePost(): createPost()">
            <div class="">
                <div class='mb-5'>
                    <div class="">
                        <label for="names" class="text-md text-gray-600">Título</label>
                    </div>
                    <div class="">
                        <input type="text" autocomplete="off" v-model="post.title"
                            class="h-3 p-6 w-full border-2 border-gray-300 rounded-md" placeholder="Example. John Doe">
                        <p class="text-red-400" v-if="errors['title']">
                            <span v-for="item in errors['title']" v-bind:key="item" v-text="item"></span>
                        </p>
                    </div>
                </div>
                <div class='mb-5' v-if="!edit">
                    <div class="">
                        <label for="names" class="text-md text-gray-600">Imagen</label>
                    </div>
                    <div class="">
                        <input type="file" ref="img" autocomplete="off" accept="image/jpeg,image/jpg,image/png"
                            class="h-3 p-6 w-full border-2 border-gray-300 rounded-md">
                        <p class="text-red-400" v-if="errors['img']">
                            <span v-for="item in errors['img']" v-bind:key="item" v-text="item"></span>
                        </p>
                    </div>
                </div>
                <div class='mb-5'>
                    <div class="">
                        <label for="names" class="text-md text-gray-600">Categoría</label>
                    </div>
                    <div class="">
                        <select v-model="post.category_id" class="w-full border-gray-300 rounded-md">
                            <option :value="item.id" v-text="item.name" v-for="item in categories" v-bind:key="item.id">
                            </option>
                        </select>
                        <p class="text-red-400" v-if="errors['category_id']">
                            <span v-for="item in errors['category_id']" v-bind:key="item" v-text="item"></span>
                        </p>
                    </div>
                </div>
                <div class='mb-5'>
                    <div class="">
                        <label for="names" class="text-md text-gray-600">Autores</label>
                    </div>
                    <div class="">
                        <select v-model="post.author_id" class="w-full border-2 border-gray-300 rounded-md">
                            <option :value="item.id" v-text="item.name" v-for="item in authors" v-bind:key="item.id">
                            </option>
                        </select>
                        <p class="text-red-400" v-if="errors['author_id']">
                            <span v-for="item in errors['author_id']" v-bind:key="item" v-text="item"></span>
                        </p>
                    </div>
                </div>
                <div class='mb-5'>
                    <div class="">
                        <label class="text-md text-gray-600">Resumen</label>
                    </div>
                    <div class="">
                        <textarea autocomplete="off" v-model="post.resume"
                            class="w-full border-2 border-gray-300 rounded-md">
                    </textarea>
                        <p class="text-red-400" v-if="errors['resume']">
                            <span v-for="item in errors['resume']" v-bind:key="item" v-text="item"></span>
                        </p>
                    </div>
                </div>
                <div class='mb-5'>
                    <div class="">
                        <label for="id_number" class="text-md text-gray-600">Publicación</label>
                    </div>
                    <div class="">
                        <textarea autocomplete="off" v-model="post.body"
                            class="w-full border-2 border-gray-300 rounded-md">
                    </textarea>
                        <p class="text-red-400" v-if="errors['body']">
                            <span v-for="item in errors['body']" v-bind:key="item" v-text="item"></span>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center item-center">
                    <button type="submit"
                        class="p-2 bg-green-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-x-75 transition-transform flex mx-2">
                        Guardar

                        <!-- <span class="ml-2">Eliminar</span> -->
                    </button>
                </div>
            </div>
        </form>
    </Modal>
</template>

<script>
    import axios from 'axios';
    import Swal from 'sweetalert2';
    import Modal from '@/Pages/Componentes/Modal.vue';

    export default {
        components: {
            Modal
        },
        data: function () {
            return {
                posts: [],
                post: {},
                categories: [],
                authors: [],
                errors: [],
                edit: false,
                spining: true
            }
        },
        mounted() {
            this.getPost()
            this.getCategories()
            this.getAuthors()
        },
        methods: {
            /**
             * Permite obtener los posts
             */
            getPost() {
                axios.get(route('post.all')).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite obtener las categorias
             */
            getCategories() {
                axios.get(route('category.list')).then((response) => {
                    this.categories = response.data
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite obtener los autores
             */
            getAuthors() {
                axios.get(route('author.list')).then((response) => {
                    this.authors = response.data
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite obtener los anteriores lista de post
             */
            getPage(page) {
                this.spining = true
                axios.get(route('post.all') + '?page=' + page).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                    this.spining = false
                })
            },
            /**
             * Permite obtener las posts de una lista en especifico
             */
            getPreviousPage() {
                this.spining = true
                axios.get(this.posts['prev_page_url']).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                    this.spining = false
                })
            },
            /**
             * Permite obtener los siguientes posts
             */
            getNextPage() {
                this.spining = true
                axios.get(this.posts['next_page_url']).then((response) => {
                    this.posts = response.data
                    this.spining = false
                }).catch((error) => {
                    Swal.fire({
                        title: 'Oops!',
                        text: error.response.data.message,
                        icon: 'error'
                    })
                })
            },
            /**
             * Permite mostrar la modal para creat los posts
             */
            modalCreate() {
                this.post = {
                    _token: window.token,
                    title: '',
                    resume: '',
                    body: '',
                    category_id: 0,
                    author_id: 0
                }
                this.edit = false
                this.$refs.modal.showModal(true, 'Crear Publicación')
            },
            /**
             * Permite crear un nuevo post
             */
            createPost() {
                this.spining = true
                let config = {
                    'Content-Type': 'multipart/form-data',
                };
                axios.post(route('adminPost.store'), this.getFormData(), config).then((response) => {
                    this.posts = response.data
                    Swal.fire({
                        title: 'Nuevo Post',
                        text: 'El post ha sido creado con exito',
                        icon: 'success'
                    })
                    this.$refs.modal.showModal(false, '')
                    this.spining = false
                }).catch((error) => {
                   
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors
                        }else {
                        Swal.fire({
                            title: 'Oops!',
                            text: error.response.data.message,
                            icon: 'error'
                        })
                        }
                    this.spining = false
                })
            },
            /**
             * Setea los input en un forn data 
             */
            getFormData(){
                let formData = new FormData();
                formData.append('img', this.$refs.img.files[0]);
                formData.append('_token', window.token);
                formData.append('title', this.post.title);
                formData.append('resume', this.post.resume);
                formData.append('body', this.post.body);
                formData.append('category_id', this.post.category_id);
                formData.append('author_id', this.post.author_id);
                return formData
            },
            /**
             * Permite mostrar la modal para modificar los posts
             */
            modalEdit(show, index) {
                this.post = this.posts.data[index]
                this.edit = true
                this.$refs.modal.showModal(show, 'Editar Publicación')
            },
            /**
             * Permite que el post se actualize
             */
            updatePost() {
                this.spining = true
                axios.put(route('adminPost.update', this.post.id), this.post).then((response) => {
                    this.posts = response.data
                    Swal.fire({
                        title: 'Post Actualizado',
                        text: 'El post N° ' + this.post.id + ' Fue Actualizado',
                        icon: 'success'
                    })
                    this.$refs.modal.showModal(false, '')
                    this.spining = false
                }).catch((error) => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    } else {
                        Swal.fire({
                            title: 'Oops!',
                            text: error.response.data.message,
                            icon: 'error'
                        })
                    }
                    this.spining = false
                })
            },

            /**
             * Permite borrar un post
             */
            deletePost(id) {
                Swal.fire({
                    title: 'Quieres borrar este post?',
                    text: "Esto no se puede Revertir",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Borrar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.spining = true
                        axios.delete(route('adminPost.destroy', id)).then((response) => {
                            this.posts = response.data
                            Swal.fire(
                                'Borrar!',
                                'El Post ha sido borrado exitoramente',
                                'success'
                            )
                            this.spining = false
                        }).catch((error) => {
                            Swal.fire({
                                title: 'Oops!',
                                text: error.response.data.message,
                                icon: 'error'
                            })
                            this.spining = false
                        })
                    }
                })

            }
        }
    }

</script>
