<template>
    <section class="bg-white dark:bg-gray-800">

    <!-- heading -->
    <HeadindDashboard />
    <!-- main page -->
    </section>
    <main>
        <slot />
    </main>
    
</template>

<script>
import HeadindDashboard from '@/Components/HeadingDashboard.vue'

export default {
    components: {
        HeadindDashboard,
    }    
}
</script>